.header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    height: 130px;
    align-items: center;
    background-color: #22303c;
}

.header-logo a{
    font-family: 'Comfortaa', cursive;
    font-size: 50px;
    color: #1d9bf0;
    text-decoration: none;
    transition: .4s;
}
.header-logo a:hover {
    color: #34ff37;
    transform: scale(1.1);
}

.header-logo a span {
    font-family: 'Comfortaa', cursive;
    color: #34ff37;
    transition: .4s;
}
.header-logo a:hover span {
    color: #1d9bf0;
}

.header-search {
    display: flex;
    justify-content: center;
}

.avatar {
    width: 72px;
    height: 72px;
    border-radius: 100%;
    background: #1d9cf08d;
    border: 1px solid #1d9bf0;
    transition: .2s linear;
}

.avatar:hover {
    transform: scale(1.15);
    background: #34ff37a9;
    border: 1px solid #34ff37;
}


@media(max-width: 900px) {
    .header-logo a {
        font-size: 36px;
    }

    .avatar {
        width: 62px;
        height: 62px;
    }
    .header {
        height: 100px;
    }
}

@media(max-width: 700px) {
    .header-logo a {
        font-size: 28px;
    }
    .avatar {
        width: 50px;
        height: 50px;
    }
    .header {
        height: 80px;
    }
}