.input-search {
    background-color: #15202b;
    border: 1px solid #1d9bf0;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    outline: none;
    padding: 0 20px;
}
.input-search:focus-visible {
    color: #34ff37;
    border: 1px solid #34ff37;
    border-right: none;
}

.form {
    margin-top: 30px;
}

.fieldset {
    width: 60%;
    padding: 12px 0;
}

.input {
    width: 100%;
    height: 50px;
    padding: 0 24px;
    border: 1px solid #1d9bf0;
    border-radius: 10px;
    background-color: #15202b;
    outline: none;
    box-sizing: border-box;
    color: #8899a6;
}
.input-textarea {
    padding-top: 14px;
    padding-bottom: 14px;
    resize: none;
    height: 100px;
}
.input:focus-visible {
    outline: none;
    border: 1px solid #34ff37;
    color: #34ff37;
}

.input-file {
    position: relative;
}

.input-file input {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    left: 0;
}

.input option {
    color: #1d9bf0;
}
.input option:hover {
    color: #34ff37;
    background-color: #1d9bf0;
}

option .cat-list {
    color: #1d9bf0;
}
.cat-list:hover {
    color: #34ff37;
    background-color: #1d9bf0;
}

@media(max-width: 900px) {
    .input-search {
        width: 50%;
        height: 40px;
    }
}

@media(max-width: 700px) {
    .input-search {
        padding: 0 10px 0 16px;
        width: 50%;
        height: 36px;
        font-size: 12px;
    }

    .input {
        height: 45px;
        font-size: 12px;
    }

    .input-textarea {
        height: 100px;
    }
}

@media(max-width: 650px) {
    .input-search {
        width: 40%;
        height: 36px;
        font-size: 11px;
    }

    .input {
        font-size: 11px;
    }
}

@media(max-width: 600px) {
    .input-search {
        display: none;
    }
}
