.list-item {
    text-decoration: none;
    height: 50px;
    line-height: 50px;
    border-bottom: 1px solid #bbb9b9;
    display: block;
    color: #1d9bf0;
    transition: .3s;
}

.list-item:hover {
    color: #34ff37;
}

.list-item:first-of-type {
    margin-top: 30px;
}