.container {
    padding: 0 5%;
}

.page {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    background-color: #15202b;
    padding-top: 20px;
    padding-bottom: 20px;
    min-height: calc(100vh - 130px);
}

.page-content {
    width: 65%;
    background-color: #22303c;
    padding: 65px;
}

.page-content.blog-details {
    padding-top: 0;
}

.page-info {
    width: calc(35% - 20px);
    background-color: #22303c;
    padding: 65px;
    margin-bottom: auto;
}
.page-info.adaptive {
    width: 100%;
    display: none;
}

.page-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.page-header h2 {
    font-size: 36px;
    font-weight: 700;
    color: #bbb9b9;
}

.blog-item--img {
    width: 100%;
    margin-bottom: 14px;
    border: 2px solid #1d9bf0;
    border-radius: 10px;
    transition: .2s linear;
}

.blog-item--img:hover {
    transform: scale(1.05);
    opacity: .0.85;
    border: 2px solid #34ff37;
}

.blog-item--img.img-details {
    margin-bottom: 30px;
}

.page-title {
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 20px;
    color: #bbb9b9;
}

.page-desc {
    line-height: 1.4;
    text-align: center;
    margin-bottom: 20px;
    color: #8899a6;
}

.page-block {
    width: 100%;
    background-color: #fff;
    padding: 65px;
    background-color: #22303c;
}

@media(max-width: 1200px) {
    .page-header h2 {
        font-size: 30px;
    }

    .page-info {
        padding: 45px;
    }
}

@media(max-width: 1000px) {
    .container.page.adaptive {
        padding-top: 10px;
    }

    .page-title {
        font-size: 30px;
    }
    .page-desc {
        font-size: 18px;
    }

    .page-info.adaptive {
        padding: 20px 30px;
        display: block;
    }
    .page-info {
        display: none;
    }

    .user-profile.adaptive {
        display: flex;
    }

    .page-content {
        width: 100%;
        padding: 50px;
    }
}   

@media(max-width: 800px) {
    .page-header h2 {
        font-size: 26px;
    }
    .page-title {
        font-size: 26px;
    }
    .page-desc {
        font-size: 16px;
    }

    .page-block {
        padding-top: 30px;
        padding-bottom: 30px;
    }
    .page-block .form {
        margin-top: 10px;
    }
    .page-block .fieldset {
        width: 100%;
    }

    
}

@media(max-width: 650px) {
    .page-header h2 {
        font-size: 23px;
    }
    .page-content {
        padding: 40px;
    }

    .page-title {
        font-size: 24px;
        margin-bottom: 12px;
    }
    .page-desc {
        font-size: 14px;
    }

    .page-block .button {
        height: 45px;
    }
}

@media(max-width: 550px) {
    .page-block {
        padding: 30px;
    }
    .page-block .button {
        height: 40px;
        font-size: 12px;
    }
}

@media(max-width: 450px) {
    .page-content {
        padding: 30px;
    }

    .container.page.adaptive {
        padding-top: 10px;
    }

    .page-header h2 {
        font-size: 21px;
    }

    .page-title {
        font-size: 24px;
        margin-bottom: 12px;
    }
    .page-desc {
        font-size: 14px;
    }
}

@media(max-width: 350px) {
    .page-content {
        padding: 15px;
    }
    .page-header h2 {
        font-size: 19px;
    }

    .page-title {
        font-size: 19px;
    }
    .page-desc {
        font-size: 12px;
    }

    .page-block {
        padding: 15px;
        padding-top: 20px;
    }
}
