.pagination-header {
    margin-top: 50px;
    margin-left: 20px;
    text-align: center;
}

.pagination-header a {
    font-size: 22px;
    font-weight: 500;
    text-decoration: none;
    color: #00dcc2;
    transition: .3s;
}

.pagination-header a:hover {
    color: #4e76ee;
}

.pagination-item {
    margin-right: 10px;
}

.pagination-item.active {
    color: #4e76ee;
}


@media(max-width: 800px) {
    .pagination-header a {
        font-size: 20px;
    }
}

@media(max-width: 650px) {
    .pagination-header a {
        font-size: 18px;
    }
}

@media(max-width: 450px) {
    .pagination-header a {
        font-size: 16px;
    }
}