.text-danger {
    color: #ff0000;
}

.blog_link {
    color: #1d9bf0;
    transition: .3s;
}
.blog_link:hover {
    color: #4e76ee;
}

.fieldset {
    position: relative;
}

.eye-btn {
    position: absolute;
    top: 35%;
    right: 15px;
    filter: invert(62%) sepia(12%) saturate(435%) hue-rotate(163deg) brightness(94%) contrast(89%);
}