.user-profile {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.user-profile--ava {
    width: 160px;
    height: 160px;
    margin: 0 auto;
    display: block;
    margin-bottom: 10px;
    border-radius: 100%;
    background: #1d9cf08d;
    border: 1px solid #1d9bf0;
}

.user-profile h1 {
    font-size: 20px;
    font-weight: 700;
    margin: 10px 0;
    text-align: center;
    color: #bbb9b9;
}

.user-profile h2,
.user-profile p  {
    line-height: 1.4;
    margin: 10px 0;
    text-align: center;
    color: #bbb9b9;
}

.user-profile a {
    margin: 0 auto;
    margin-top: 20px;
}

.user-profile .button-danger{
    margin-top: 30px;
}


.about {
    box-sizing: border-box;
    width: 400px;
    padding: 20px;
    background-color: #15202b;
    border-radius: 10px;
    border: 1px solid #1d9bf0;
}
.about:focus-visible {
    color: #34ff37;
    border: 1px solid #34ff37;
    outline: none;
}

.posts-desc.adaptive {
    display: none;
}


@media(max-width: 1200px) {
    .user-profile--ava {
        width: 120px;  
        height: 120px;
    }
    .user-profile h1 {
        font-size: 18px;
    }
    .user-profile p {
        font-size: 16px;
    }
}

@media(max-width: 1100px) {
    .user-profile--ava {
        width: 9vw;
        height: 9vw;
    }
}

@media(max-width: 1000px) {
    .user--info {
        display: flex;
        align-items: center;
    }
    .user--info > h1 {
        margin: 0 40px 0 10px;
    }

    .user-profile a {
        margin-right: 20px;
    }

    .user-profile .log-btns {
        margin: 0;
    }

    .user-profile .button-danger {
        margin-top: 20px;
    }

    .user-profile h2 {
        padding: 0 8vw;
    }
}

@media(max-width: 800px) {
    .button.profile-button {
        padding: 0 12px;
        font-size: 14px;
    }

    .user-profile a {
        margin-top: 6px;
    }
    .user-profile .button-danger {
        margin-top: 6px;
    }
}   

@media(max-width: 650px) {
    .user-profile h2 {
        padding: 0;
        font-size: 15px;
    }
}

@media(max-width: 550px) {
    .user-profile a {
        height: 38px;
        padding: 0 12px;
        font-size: 14px;
    } 

    .user--info.adaptive{
        display: block;
    }

    .user-profile--ava {
        width: 62px;
        height: 62px;
    }
    .user--info > h1 {
        margin: 0 auto;
        margin-top: 16px;
    }

    .user-profile h2 {
        font-size: 14px;
        margin-top: 0;
    }

    .posts-desc {
        display: none;
    }
    .posts-desc.adaptive {
        display: block;
    }

    .button.profile-button {
        height: 34px;
        padding: 0 12px;
        font-size: 13px;
    }

    .link.dropdown-link {
        font-size: 14px;
    }
    .link.dropdown-link > img {
        width: 14px;
        height: 14px;
        margin-right: 4px;
    }
}

@media(max-width: 420px) {
    .user-profile a {
        height: 36px;
        padding: 0 12px;
        font-size: 13px;
    }
    .button.profile-button {
        height: 30px;
        padding: 0 10px;
        font-size: 12px;
    }

    .link.dropdown-link {
        font-size: 12px;
    }
    .link.dropdown-link > img {
        width: 12px;
        height: 12px;
        margin-right: 4px;
    }
}