.user-profile {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.user-profile--ava {
    width: 60%;
    margin: 0 auto;
    display: block;
    margin-bottom: 10px;
    border-radius: 100%;
    border: 1px solid #34ff37;
    background-color: #1d9bf0;
}

.user-profile h1 {
    font-size: 20px;
    font-weight: 700;
    margin: 10px 0;
    text-align: center;
    color: #bbb9b9;
}

.user-profile h2,
.user-profile p  {
    line-height: 1.4;
    margin: 10px 0;
    text-align: center;
    color: #bbb9b9;
}

.user-profile a {
    margin: 0 auto;
    margin-top: 20px;
}

.user-profile .button-danger{
    margin-top: 30px;
}


.about {
    box-sizing: border-box;
    width: 400px;
    padding: 20px;
    background-color: #15202b;
    border-radius: 10px;
    border: 1px solid #1d9bf0;
}
.about:focus-visible {
    color: #34ff37;
    border: 1px solid #34ff37;
    outline: none;
}